body{
    font-family: Arial, sans-serif;
    background:#f3f6fb;
}

.app{
    width:800px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

form{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

input,button{
    padding:8px;
}

table{
    width:100%;
    border-collapse: collapse;
}

th,td{
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
}

button{
    cursor:pointer;
}
